<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Some of the popular languages that Data Scientists use are:</b>
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
</ol>

<b>Some of the popular languages that Data Scientists use are:</b>
    <ul>
        <li>Pandas</li>
        <li>Tensorflow</li>
        <li>PyTorch</li>
        <li>SciPy</li>
        <li>Matplotlib</li>
    </ul>

|Data Science Tools|
|-----|
|Jupyter Notebook|
|Apache Spark|
|RStudio|

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [6]:
# this is a simple arithmetic expression to mutiply then add integers
eval = (3*4)+5
print(eval)
print(eval==17)

17
True

In [7]:
# this will convert 200 minutes to hours by dividing by 60
print(200 / 6)

33.333333333333336

<b>Objectives: </b>List popular languages for Data Science.
<ul>
    <li>Python</li>
    <li>SQL</li>
    <li>R</li>
</ul>

<h2>Author</h2>
<p>name : Fahad AlAraik</p>